In [27]:
import pandas as pd


ruta = "../data/raw_data/importados_datos_raw.xls"
df = pd.read_csv(r'C:\Users\joseb\Desktop\eda_cm\data\raw_data\importados_datos_raw.csv', low_memory= False)  # latin1 ayuda con tildes
df.head()

,Producto,Unnamed: 1,Unnamed: 2,Descripción,Unnamed: 4,Unnamed: 5,Unnamed: 6,#,Local,Cantidad,...,Kgrs.,Vta.Promedio,Exenta,Gravada,Unnamed: 15,I.V.A.,Unnamed: 17,Total,Unnamed: 19,$
0,Grupo : ADITIVOS IMPORTADOS de la familia SANI...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9574.0,...,0.0,NaN,0.0,1.026621e+09,NaN,1.026621e+08,NaN,1.129283e+09,NaN,NaN
1,5853,NaN,NaN,CALKOR - PLASTIFICANTE 18 LTS,NaN,NaN,NaN,398.0,Casa Matriz,1928.0,...,0.0,128847.171162,0.0,2.258339e+08,NaN,2.258340e+07,NaN,2.484173e+08,NaN,NaN
2,NaN,Fact. Credito,20010195.0,NaN,10/17/2022,CONCASA SA,NaN,NaN,NaN,36.0,...,0.0,164400.000000,0.0,5.380363e+06,NaN,5.380370e+05,NaN,5.918400e+06,NaN,Gs.
3,NaN,Fact. Credito,20010369.0,NaN,10/18/2022,CONSTRUCCIONES ITA COTY S.A.,NaN,NaN,NaN,18.0,...,0.0,91334.000000,0.0,1.494556e+06,NaN,1.494560e+05,NaN,1.644012e+06,NaN,Gs.
4,NaN,Fact. Credito,20010370.0,NaN,10/18/2022,LA CASA DE LAS VARILLAS SRL,NaN,NaN,NaN,72.0,...,0.0,91334.000000,0.0,5.978226e+06,NaN,5.978220e+05,NaN,6.576048e+06,NaN,Gs.

In [ ]:
'''
Los datos de ventas estan en un CSV “semi-tabular”, 
típico de exportes contables o de ERP, donde los productos actúan como subtítulos,
y las métricas están dispersas por columnas con mucho espacio vacío.

Lógica para limpieza (conceptual)

Filtrar solo las filas que contienen productos, por ejemplo detectando que tienen algo en la columna 4 (nombre del producto).

Crear un nuevo DataFrame con solo las columnas relevantes:

Columna 1 → Grupo

Columna 4 → Producto

Columna 9 → Cantidad

Columna 12 → Venta promedio

Columna 14 → Monto gravado

Columna 16 → IVA total

Columna 18 → Total

'''

In [38]:
#FILTRAR SOLO LAS FILAS CON PRODUCTOS 

df_prod = df[df["Descripción"].notna()].copy()

#CREAR UN NUEVO DF CON SOLO LAS COLUMNAS RELEVANTES

df_clean = df_prod[['Producto', 'Descripción', 'Cantidad', 'Vta.Promedio', 'Gravada', 'I.V.A.', 'Total']].copy()
df_clean.columns = ['Grupo', 'Producto', 'Cantidad', 'Venta_Promedio', 'Monto_gravado', 'IVA', 'Total']

#RELLENAR EL GRUPO(QUE YA APARECE UNA VEZ ANTES DE CADA BLOQUE)

df_clean['Grupo'] = df_clean['Grupo'].fillna(method='ffill')
#esto arrastra hacia abajo el ultimo valor no nulo de grupo, de forma que todos los productos debajo pertenecen al mismo grupo

#LIMPIAR LOS NUMEROS 

cols_num = ['Cantidad', 'Venta_Promedio', 'Monto_gravado', 'IVA', 'Total']

for col in cols_num:      #en muchos archivos contables, los nro vienen con comas o espacios
    df_clean[col] = (
        df_clean[col]   
        .astype(str)
        .str.replace('.','', regex=False)     
        .str.replace(',','.',regex=False)
        .astype(float)
    )



#REVISAR Y GUARDAR LIMPIO
df_clean.head()
df_clean.to_csv(r"C:\Users\joseb\Desktop\eda_cm\data\processed\importados_limpio.csv", index=False)

C:\Users\joseb\AppData\Local\Temp\ipykernel_28388\1392421890.py:12: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_clean['Grupo'] = df_clean['Grupo'].fillna(method='ffill')